{% extends 'base_template.html' %}
{%load static %}

{% block page_title %}Login{% endblock  %}

{%block css_file%}
<link rel="stylesheet" href="{% static "userlog/login.css" %}">
{%endblock%}


{% block body_content  %}
<div class="container">
   <h1>LOGIN</h1>
  <form method="POST">
     {% csrf_token %}
         {% for field in form %}
            <div class="login-user">
               {{field.label}}
               {{field}}
            </div>
         {%endfor%}
      <button>LOGIN</button>
      <p>dont have an account ? register <a href="{% url 'register' %}">HERE</a></p>
  </form>
</div>

{% endblock  %}